################################################################################
# Visual Studio / .NET build artifacts
################################################################################

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Visual Studio
.vs/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.dll
*.exe
*.cache
*.pdb
*.dbmdl
*.bak
*.log
